@model IEnumerable<Steaker_Store.Models.ApplicationUser>

@{
    ViewData["Title"] = "Quản lý người dùng";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Welcome to Admin Dashboard</h2>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Quản lý người dùng</h2>
    </div>
    <table class="table table-hover table-bordered shadow-sm ">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Email Confirmed</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@(string.IsNullOrEmpty(user.PhoneNumber) ? "Unknown" : user.PhoneNumber)</td>
                    <td>@user.Email</td>
                    <td>@(user.EmailConfirmed ? "✔" : "✘")</td>
                    <td class="fw-bold @(user.IsBlocked ? "text-danger" : "text-success")">
                        @(user.IsBlocked ? "Đã khóa" : "Hoạt động")
                    </td>
                    <td>
                        @if (!user.IsBlocked)
                        {
                            <a href="/Admin/HomeAdmin/Block/@user.Id" class="btn btn-sm btn-danger">Khóa</a>
                        }
                        else
                        {
                            <a href="/Admin/HomeAdmin/Unblock/@user.Id" class="btn btn-sm btn-success">Mở khóa</a>
                        }

                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>
